/*-- scss:defaults --*/
// Base document colors
$blue:    #f7ac43 !default;
$primary:       $blue !default;
$body-color: #FF9500 !default;
$body-bg: #242424 !default;


/*-- scss:rules --*/
// Section lines and contents rule, as in alisiahkoohi.github.io's dark theme
h2 { border-bottom-color: #727475; }
.sidebar nav[role=doc-toc] > ul a { border-left-color: #4a4a4a; }

h1, h2, h3, h4, h5, h6 {
  color: $primary;
}

.quarto-about-solana .about-image {
    border: 1px solid #727475;
    background-color: #000000;
  }
